@import "style.css";

#contentarea2 {
	clear:both;
	padding:25px 0px;
}


# contentarea2 ul {
	margin:0px auto; 
	padding-top:67px;
}

#contentarea2 li{
	list-style-type:none;
	padding-top:4px;
	font-family:"Arial";
	font-size:11px;
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
}


#contentarea2 h2{
	font-family:"Calibri";
	font-size:26px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-bottom:5px;
}

#contentarea2 h3{
	font-family:"Calibri";
	font-size:26px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-bottom:5px;
}

#contentarea2 h5 {
	font-family:"Calibri";
	font-size:14px;
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
	padding:0px 40px;
}

#contentarea2 h6 {
	font-family:"Calibri";
	font-size:14px;
	color:#800080;
	font-weight:bold;
	text-decoration:none;
	padding:0px 40px;
}

#contentarea2 p {
	font-family:"Arial";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
}

#contentarea2 a {
	font-family:"Arial";
	font-size:12px;
	color:#009999;
	font-weight:bold;
	text-decoration:none;
}

#contentarea2  a:hover {
	font-family:"Arial";
	font-size:12px;
	color:#797B7A;
	font-weight:bold;
	text-decoration:none;
}




