html, body {
	margin: 0px;
	padding:0px;
	background-image:url(../images/bg.gif);
}

h1, h2, h3, h4, h5, h6, p, form {
	margin: 0px;
	padding:0px;
}

#wrapper {
	width:800px;
	margin:0px auto;
	background-color:#FFF;
}

#content {
	width:778px;
	margin:0px auto;
	background-image:url(../images/bg_header_top.gif);
	background-repeat:repeat-x;
	background-position:top;
}

#header {
	height:97px;
}

#logo {	
	background-repeat: no-repeat;
	float:left;
	background-image:url(../images/spring.jpeg);
	background-size: contain;
	height: 132px;
	width: 300px;
}

#links ul {
	margin:0px; 
	padding-top:67px;
}
#links{
	float: right;
}
#links li{
	float:left;
	list-style-type:none;
	width:129px;
	height:25px;
	text-align:center;
	background-color:#F4A80A;
	border-left:1px solid #FFF;
	padding-top:4px;
}

#links a{
	font-family:"Arial";
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}

#links a:hover{
	font-family:"Arial";
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#mainimg {
	background-image:url(../images/main_img.jpg);
	background-repeat:no-repeat;
	height:132px;
	text-align:right;
}

#mainimg h3 {
	font-family:"Calibri";
	font-size:48px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:20px 40px 0px 0px;
}

#mainimg h4 {
	font-family:"Calibri";
	font-size:18px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px 0px 0px;
}

#mainimg h5 {
	font-family:"Arial";
	font-size:11px;
	color:#FFF;
	font-style:italic;
	text-decoration:none;
	padding:0px 10px;

}

#contentarea {
	clear:both;
	padding:25px 0px;
}

#leftbar {
	float:left;
	width:510px;
	border-right:1px solid #BCBDBC;
}

#leftbar h2{
	font-family:"Calibri";
	font-size:26px;
	color:#EE8907;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-bottom:5px;
}

#leftbar p{
	font-family:"Arial";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
}

#leftbar a {
	font-family:"Arial";
	font-size:12px;
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
}

#leftbar a:hover {
	font-family:"Arial";
	font-size:12px;
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

#rightbar {
	float:left;
	width:267px;
}

#rightbar h2{
	font-family:"Calibri";
	font-size:26px;
	color:#EE8907;;
	font-weight:normal;
	text-decoration:none;
	padding-left:25px;
	padding-bottom:5px;
}

#rightbar p{
	font-family:"Arial";
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding:0px 25px;
}

.orangetext {
	font-family:"Arial";
	font-size:12px;
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
}

#bottom {
	clear:both;
	height:32px;
	padding-top:25px;
}

#disclaimer {
	float:left;
	width:772px;
	background-color:#9BBE00;
	height:56px;
	padding-top:5px;
}

#disclaimer p{
	font-family:"Calibri";
	font-size:11px;
	color:#FFF;
	font-style:italic;
	text-decoration:none;
}

#email {
	float:left;
	width:500px;
	background-color:#9BBE00;
	height:27px;
	padding-top:5px;
}

#email a{
	font-family:"Arial";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
	padding:0px 40px;
}

#email a:hover{
	font-family:"Arial";
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px;
	
}

#validtext {
	float:right;
	width:278px;
	background-color:#9BBE00;
	height:27px;
	padding-top:5px; 
}

#validtext p{
	font-family:"Arial";
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	text-align:right;
	padding-right:35px;
}

#validtext a{
	font-family:"Arial";
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#validtext a:hover{
	font-family:"Arial";
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
